SECRET=Long, random string
ISSUER_BASE_URL=Your Auth0 domain prepended with https://
CLIENT_ID=The Client ID for this application from Auth0
CLIENT_SECRET=The Client Secret for this application from Auth0

# # Change the port
# APP_PORT=5554

# # Use Caddy for TLS
# HTTPS_PORT=5555

# # Use these variables to post to a WP API
# WP_API_AUDIENCE=The API identifier from Auth0
# WP_API_BASE_URL=Direct URL to a WordPress instance
# WP_API_SCOPES=Permissions requested

# # Use these variables to get an API2 token
# API2_CLIENT_ID=M2M application client ID
# API2_CLIENT_SECRET=M2M application client secret

# # Use this variable to populate the realm for RO
# RO_LOGIN_REALM=Connection-Name

