/**
Base
**/

body {
  padding: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5em;
}

p {
  margin: 1.5em 0;
}

hr {
  border: none;
  border-top: 1px solid #e1e1e1;
  margin: 1.5em 0
}

pre {
  overflow-wrap: break-word;
  white-space: break-spaces;
  padding: 1%;
  background: #f1f1f1
}

code {
  display: inline-block;
  background: #f1f1f1;
  padding: 0 0.5em
}

label {
  font-size: 1em
}

input[type=text],
input[type=password],
input[type=url],
textarea {
  border: 1px solid #e1e1e1;
  font-size: 1em;
  border-radius: 2px;
  padding: 0.25em;
  max-width: 75%;
  display: block;
  margin: 0.5em 0;
  width: 100%;
}

textarea {
  height: 6em
}

input[type=submit] {
  border: none;
  background: #635DFF;
}

blockquote {
  border-left: 5px solid #635DFF;
  border-radius: 4px;
  background: #fafafa;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 1.5em;
}
/***
Custom
***/

.login-status {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle
}

.green {
  color: green
}

.red {
  color: red
}

input[type=submit],
.button {
  display: inline-block;
  padding: 0.5em 1.25em;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9em;
}

input[type=submit]:hover,
.button:hover {
  opacity: 0.8;
}
[data-input-update],
[data-input-replace] {
  cursor: pointer
}
nav a {
  background: #1BC99F;
}
textarea.code {
  font-family: monospace;
  height: 12em;
  font-size: 0.9em;
}