/**
Base
**/

body {
  padding: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5em;
}

p {
  margin: 1.5em 0;
}

hr {
  border: none;
  border-top: 1px solid #e1e1e1;
  margin: 1.5em 0
}

pre {
  overflow-wrap: break-word;
  white-space: break-spaces;
  padding: 1%;
  background: #f1f1f1
}

code {
  display: inline-block;
  background: #f1f1f1;
  padding: 0 0.5em
}

label {
  font-size: 1em
}

input[type=text],
input[type=password],
input[type=url],
textarea {
  border: 1px solid #e1e1e1;
  font-size: 1em;
  border-radius: 2px;
  padding: 0.25em;
  max-width: 100%;
  width: 40em;
  display: block;
  margin: 0.5em 0;
}

textarea {
  height: 6em
}

input[type=submit] {
  font-size: 1.1em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #635DFF;
  color: white
}

/***
Custom
***/

.login-status {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle
}

.green {
  color: green
}

.red {
  color: red
}

[data-input-update],
[data-input-replace] {
  cursor: pointer
}